<style>
    #tableContainer{
        margin-left:32%;
        margin-top: 2%;        
    }

    td{
        /*min-width: 50px;
        border-bottom: 1px solid gray;*/
    }

   

    h2{
        margin-left: 140px;
    }

</style>


{{#if productos.length}}
<div id="tableContainer" > 
    <h4 class="text-primary" id="h4TituloProductos">Lista de Productos</h2>
    <div>
        <table class="table table-hover" id="tablaProductos">
            <tr style="background-color:#f5f5f5;">
               <th>Id</th>
                <th >Nombre</th>
                <th>Precio</th>
                <th style="text-align:center;">Foto</th>
                <th></th>
                <th></th>
            </tr>
           
            {{#each productos}}
            <tr>
               <td style="display:none">{{this._id}}</td>
                <td>{{this.nombre}}</td>
                <td style="text-align:center">${{this.precio}}</td>
                <td style="text-align:center"><img width="50" src={{this.fotoUrl}} alt="not found" ></td>
                <td><button class="btn btn-toolbar" onclick="agregarProductoAlCarrito(this)" style="border-radius: 50%;height:42px;width:42px"><i class="glyphicon glyphicon-shopping-cart" style="color:#337ab7;font-size:18px;"></i></button></td>
                <td style="margin-left:-80px;"><button class="btn btn-toolbar" style="border-radius: 50%;height:42px;width:42px"><i class="glyphicon glyphicon-floppy-remove" style="color:orangered;font-size:18px;"></i></button></td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
{{else}}
<div id="divMensajeSinProductos" class="alert alert-info text-center" style="width:100%">No hay productos en la lista</div>
{{/if}}