<h4 class="text-primary">Datos de Registro</h4>
 <br>
        <div class="row">   
            <div class="col-xs-3">
                <label for="">Nombre : </label>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control" value="{{this.nombre}}">
            </div>
        </div>
        
        <div class="row">   
            <div class="col-xs-3">
                <label for="">Email : </label>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control"  value="{{this.username}}">
            </div>
        </div>
        

        <div class="row">   
            <div class="col-xs-3">
                <label for="">Dirección : </label>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control"  value="{{this.direccion}}">
            </div>
        </div>
        

         <div class="row">   
            <div class="col-xs-3">
                <label for="">Edad : </label>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control"  value="{{this.edad}}">
            </div>
        </div>
       

        <div class="row">   
            <div class="col-xs-3">
                <label for="">Teléfono : </label>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control"  value="{{this.telefono}}">
            </div>
        </div>
        

        <div class="row">   
            <div class="col-xs-3">
                <label for="">Foto : </label>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control"  value="{{this.fotoUrl}}">
            </div>
        </div>
        


        